#add-btn {
    color: white;
    border: none;
    cursor: pointer;
    background: green;
    padding: 14px 28px;
    margin-left: 10px;
}

#add-btn:hover {
    background: rgb(1, 82, 1);
}

#add-btn:active {
    transform: translateY(4px);
}

#task-to-add {
    font-size: 18px;
}

.title-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.task-add {
    display: flex;
}